<%  include partials/header %>


<div id="home">
	<div class="landing-text">
		<h1>YELPCAMP</h1>
		<h3>LOVE . TRAVEL . EXPLORE</h3>
		<a href="/camp" class="btn btn-default btn-lg">Get started</a>

	</div>
 </div>



<div class="padding">
<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img src="https://images.unsplash.com/flagged/photo-1556669546-b1f29875df1c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" style="no-repeat center center fixed;">
			</div>
			<div class="col-sm-6 text-center">
				<h2><b>TOURISM AND TRAVEL</b></h2>
				<p class="lead">Tourism is travel for pleasure or business; also the theory and practice of touring, the business of attracting, accommodating, and entertaining tourists, and the business of operating tours. Tourism may be international, or within the traveller's country. The World Tourism Organization defines tourism more generally, in terms which go "beyond the common perception of tourism as being limited to holiday activity only", as people "traveling to and staying in places outside their usual environment for not more than one consecutive year for leisure and not less than 24 hours, business and other purposes".
				</p>
			</div>
		</div>
</div>
</div>



<div class="padding">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>MOMENTS  </h4>
				<p >Travel is good for lots of things,it can also increase mental well-being. Whether you're traveling for business or for family, traveling can make you a happier person by building self-confidence and allowing you to meet people from all over the world. </p>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="https://images.unsplash.com/photo-1548325057-1bb14be39ae4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
			    class="img-responsive" style="no-repeat center center fixed;">
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<h4>TOGETHERNESS </h4>
				<p>Togetherness is a hugely important aspect of life. It unites us, gives us security, much-needed support and a sense of belonging, and encourages us to love one another. What's better than travelling to unite together.Travel and get United.  </p>
			</div>

			<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
				<img src="https://images.unsplash.com/photo-1548659979-53d6a343b767?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="img-responsive" style="no-repeat center center fixed;">
			</div>

	</div>
</div>

<br><br><br><br><br>
<!-- <div id="fixed">
	 <div class="container">
	 	
	 </div>
</div> -->
<div id="fixed">
	<div class="landing-text">
		<h1></h1>
		

	</div>
 </div>



<div class="padding">
<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">
				<h4><b>Here's the cool thing about Beaches<b></h4>
				<p class="lead">Going to the beach is always connected with a funny, adventurous, sunny time, but this does not have to be like this every day of the year. A beach can also be hazardous at times so that knowledge of how to stay safe next time you visit a beach is essential. 
				</p>
				<p class="lead">Beaches provides you a sense of relaxation. You can cool your mind and body smoothly with the innocence of waves touch your feet in a gentle manner.What's more relaxing than this. Just come and Enjoy.
			</div>
			<div class="col-sm-6">
				<img src="https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
				style="no-repeat center center fixed;"
				class="img-responsive">
			</div>
		</div>
</div>
</div>





<footer class="container-fluid text-center">
	<div class="row">
		<div class="col-sm-4">
			<h3>Contact Us</h3>
			<br>
			<h4>We are there in every part of the world!. Stay connected with us! </h4>
			<h4>Happy Travelling!!</h4>	
		</div>

		<div class="col-sm-4">
			<h3>Connect With US!</h3>
			<a href="#" class="fab fa-facebook"></a>
			<a href="#" class="fab fa-twitter"></a>
			<a href="#" class="fab fa-google"></a>
			<a href="#" class="fab fa-linkedin"></a>
			<a href="#" class="fab fa-youtube"></a>
		</div>

		<div class="col-sm-4">
			 <img src="https://images.unsplash.com/photo-1550079782-9da2c1c9299b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" class="icon">
		</div>
	</div>
</footer>



<% include partials/footer %>
